@model AlDawarat_W_AlEngazat.Models.Entities.PreviousCourse

@{
    ViewData["Title"] = "Add Previous Course";
}

<h2>اضافة دورة سابقة الي "@ViewBag.EmployeeName"</h2>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPreviousCourse" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeID"/>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label">اسم الدورة السابقة</label>
                <input asp-for="CourseName" class="form-control"/>
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">مكان انعاقد الدورة</label>
                <input asp-for="Location" class="form-control"/>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"> تاريخ البداية</label>
                <input asp-for="StartDate" class="form-control" type="date"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletionDate" class="control-label">تاريخ النهاية</label>
                <input asp-for="CompletionDate" class="form-control" type="date"/>
                <span asp-validation-for="CompletionDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary mt-2"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.EmployeeID">العودة للقائمة السابقة</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}