@using AlDawarat_W_AlEngazat.Areas.Identity.Data
@using AlDawarat_W_AlEngazat.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Login";
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User)) {
        <li class="nav-item">
            <a id="manage" class="nav-link text-white " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">اهلا  @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link  border-0"> خروج</button>
            </form>
        </li>
    } @*else {
       {
            if (true) {
                <li class="nav-item">
                    <a class="nav-link " id="register" asp-area="Identity" asp-page="/Account/Register">تسجيل</a>
                </li>
            }
        }


        <li class="nav-item">
            <a class="nav-link " id="login" asp-area="Identity" asp-page="/Account/Login">تسجيل الدخول</a>
        </li>
    }*@
</ul>
