@{
    ViewData["Title"] = "Feature Disabled";
}

<div class="text-center">
    <h1 class="text-danger">هذه الخدمة متوقفة حاليا</h1>
    <h2 class="text-danger">خطأ في التواصل </h2>
    <p>هذه الخدمة متوقفة مؤقتا, برجاء المحاولة في وقت لاحق</p>
</div>

<!-- Back Button -->
<div class="mt-4">
    <button onclick="goBack()" class="btn btn-secondary">العودة</button>
</div>

<script>
    function goBack() {
        window.history.back()
    }
</script>
