@{
    ViewData["Title"] = "Home";
}



<div class="row mt-5 gy-4 d-flex align-items-stretch">
    <div class="col-md-3 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">قاعدة بيانات منسوبي الجناح</h5>
                <p class="card-text">اضافه, تعديل, حذف او تعديل بيانات المستخدمين</p>
                <a asp-controller="Employees" asp-action="Index" class="btn btn-outline-primary mt-auto w-25">ابدأ</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">الدورات القائمة </h5>
                <p class="card-text">انشاء وتخصيص الدورات </p>
                <a asp-controller="Courses" asp-action="Index" class="btn btn-outline-primary mt-auto w-25">ابدأ</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">المنجزات</h5>
                <p class="card-text">اضافة المنجزات  </p>
                <a asp-controller="Achievements" asp-action="Index" class="btn btn-outline-primary mt-auto w-25">ابدأ</a>
            </div>
        </div>
    </div>
    @* <div class="col-md-3 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">البحث</h5>
                <p class="card-text">قوائم البحث في التطبيق</p>
                <a asp-controller="Search" asp-action="Index" class="btn btn-outline-primary mt-auto w-25">ابدأ </a>
            </div>
        </div>
    </div> *@
    <div class="col-md-3 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">الغير حاصلين على الحتمية</h5>
                <p class="card-text">بحث بالحتمية  </p>
                <a asp-controller="Inevitability" asp-action="Index" class="btn btn-outline-primary mt-auto w-25">ابدأ</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 d-flex">
        <div class="card flex-fill">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">المؤهلون</h5>
                <p class="card-text">بحث بالمؤهلون  </p>
                <a asp-controller="Qualified" asp-action="Index" class="btn btn-outline-primary mt-auto w-25">ابدأ</a>
            </div>
        </div>
    </div>


</div>