@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">تعذر الوصول !!!</h1>
    <p class="text-danger">لا يوجد لديك صلاحية للوصول لهذة الصفحة</p>
</header>
