@page
@model Test_Project.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";

}

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h2>تسجيل حساب جديد</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    @*  <div class="form-floating text- mb-3">
            <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.UserName" class="">الاسم</label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>*@

    <div class="form-floating mb-3">
        <input asp-for="Input.UserName" class="form-control" placeholder="name@example.com" />
        <label asp-for="Input.UserName">UserName</label>
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control"  placeholder="password" />
        <label asp-for="Input.Password">كلمة السر</label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control"  placeholder="password" />
        <label asp-for="Input.ConfirmPassword">تأكيد كليمة السر</label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Input.Role">الاذن</label>
        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
            <option disabled selected>-- اختر -- </option>
        </select>
    </div>
    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">تسجيل</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
